<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" 
       name="uibk_robot">
       
  <xacro:include filename="materials.urdf"/>
  <xacro:include filename="torso.xacro"/>
  <xacro:include filename="table.xacro"/>
  <xacro:include filename="kuka_lwr_arm_defs.xacro"/>
  <xacro:include filename="$(find schunk_description)/urdf/sdh/sdh.urdf.xacro" />
  <xacro:include filename="sensor_kinect.xacro"/>
  
  <!-- draw a small cross as visual to indicate the current origin -->
  <link name="world_link">
    <visual>
      <geometry>
	<box size="0.03 0.005 0.001" />
	<material name="Black" />
      </geometry>
    </visual>
    <visual>
      <geometry>
	<box size="0.005 0.03 0.001" />
	<material name="Black" />
      </geometry>
    </visual>
  </link>
  <!-- draw the table relative to the origin -->
  <!--xacro:model_table name="table" 
		     parent="world"
		     length="2.22"
		     width="0.8"
		     height="0.734"
		     plate_thickness="0.03">
		     
    <origin xyz="-0.029 -0.3 0" rpy="0 0 1.5708"/>
    
  </xacro:model_table-->

  <xacro:model_torso name="torso" parent="world">
    <origin xyz="-0.4723 0.6767 -0.734"/>
  </xacro:model_torso>
  
  <!-- left arm with gripper -->
  <xacro:kuka_lwr_arm parent="world" name="left" right="-1">
    <origin xyz="-0.4923 0.7541 0.6295" 
	    rpy="1.9485 -0.2114 2.6898"/>
  </xacro:kuka_lwr_arm>
  
  
  
  <!-- right arm with gripper -->
  <xacro:kuka_lwr_arm parent="world" name="right" right="1">
    <origin xyz="-0.4962 0.5992 0.6335" 
	    rpy="-2.0628 0.7628 -3.1287"/>
  </xacro:kuka_lwr_arm>
  
  <xacro:sensor_kinect parent="right_arm_7_link">
    <origin xyz="0 0 0" 
	    rpy="0 0 0"/>
  </xacro:sensor_kinect>
  
<!-- HEAD -->
    <!-- joint between arm_7_link and the connector ring -->
  <joint name="world_to_kit_head" type="fixed" >
    <origin xyz="-0.35 0.675 0.85" rpy="0 0 0" />
    <parent link="world_link" />
    <child link="kit_head_link" />
  </joint>
  <link name="kit_head_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.15" length="0.4"/>
      </geometry>
      <material name="Silver" />
    </visual>
    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.15" length="0.4" />
      </geometry>
    </collision>
  </link>


<!-- DISC -->
    <!-- disc on left hand -->
  <joint name="left_hand_to_disc" type="fixed" >
    <origin xyz="0 0 0.02" rpy="0 0 0" />
    <parent link="left_arm_7_link" />
    <child link="disc_left" />
  </joint>
  <link name="disc_left">
    <visual>
      <!-- origin xyz="0 0 0" rpy="0 0 0" -->
      <geometry>
        <cylinder radius="0.30" length="0.04"/>
      </geometry>
      <material name="Silver" />
    </visual>
    
    <collision>
      <!-- origin xyz="0 0 0" rpy="0 0 0" -->
      <geometry>
        <cylinder radius="0.33" length="0.05" />
      </geometry>
    </collision>
  </link>

  <!-- Kinect vision sensor -->
  <!-- <link name="camera_link"/>
  <joint name="kinect_visionSensor_joint" type="fixed" >
	  <origin xyz="-0.40271 0.66297 0.796599"
		  rpy="-1.69854 -0.0579848 -2.43762"/>
	  <parent link="world_link" />
	  <child link="camera_link" /> 
  </joint> -->
  <!-- simulator-->
  <!-- <joint name="kinect_visionSensor_joint" type="fixed" >
	  <origin xyz="-0.4568 0.6891 0.7516"
		  rpy="2.2689 0.0 1.5708"/>
	  <parent link="world_link" />
	  <child link="kinect_visionSensor" />
	</joint> -->
</robot>
